<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Malm24/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM)_A01113135.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prueba1 = "/content/sample_data/prueba1.txt" #Importa el texto de mi archivo local
ejercicio =open(prueba1,"r")

In [ ]:
ejercicio.name #Con este encontramos el nombre local del archivo

'/content/sample_data/prueba1.txt'

In [ ]:
ejercicio.mode #muestra el modo/tipo del archivo

'r'

In [ ]:
nueva=ejercicio.read() #se encarga de leer el archivo
nueva #muestra el contenido del archivo

'This is line 1\nThis is line 2\nThis is line 3'

In [ ]:
print(nueva) #imprimir el contenido que se agrego a la nueva variable

This is line 1
This is line 2
This is line 3

In [ ]:
type(nueva)

str

In [ ]:
ejercicio.close()

In [ ]:
with open(prueba1, "r") as ejercicio: #Abrir un archivo utilizando un with (este representa una mejor practica porque asegura que el archivo fue cerrado)
    nueva = ejercicio.read()
    print(nueva)

This is line 1
This is line 2
This is line 3

In [ ]:
ejercicio.closed #esta función verifica si el archivo se encuentra cerrado

True

In [ ]:
print(nueva)

This is line 1
This is line 2
This is line 3

In [ ]:
with open(prueba1,"r") as ejercicio: #con esta opción podemos imprimir los caracteres que necesitemos
  print(ejercicio.read(4))

This

In [ ]:
with open(prueba1,"r") as ejercicio: #si llamamos nuevamente la opción read este continua con el número en el que se quedo
  print(ejercicio.read(4))
  print(ejercicio.read(4))
  print(ejercicio.read(7))
  print(ejercicio.read(15))

This
 is
line 1

This is line 2

In [ ]:
#Writing files with open

In [ ]:
prueba3 = "/content/sample_data/prueba3.txt"
with open (prueba3,"w") as escribir: #Con este with se crea un nuevo archivo
  escribir.write("This is linea A\n") #generamos contenido dentro del archivo
  escribir.write("This is linea B\n")

In [ ]:
with open(prueba3,"r") as ejercicio2: #probando que el texto de registro en el archivo
  print(ejercicio2.read())

This is linea A
This is linea B

In [ ]:
Lineas = ["This is line A\n", "This is line B\n", "This is line C\n"] #creando una lista
Lineas

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
with open (prueba3,"w") as escribir: #escribir la lista al archivo prueba 3
  for linea in Lineas:
    print(linea)
    escribir.write(linea)

This is line A

This is line B

This is line C

In [ ]:
with open (prueba3, "r") as ejercicio2: #verificando que el texto se esecribió en el archivo
  print(ejercicio2.read())

This is line A
This is line B
This is line C

In [ ]:
with open (prueba3, "w") as escribir: #
  escribir.write ("sobre escribir\n")
with open (prueba3, "r") as ejercicio2:
  print(ejercicio2.read())

sobre escribir

In [ ]:
with open (prueba3,"a") as escribir:
  escribir.write("This is line C\n")
  escribir.write("This is line D\n")
  escribir.write("This is line E\n")

In [ ]:
with open (prueba3, "r") as ejercicio2: #Si corremos el código anterior en reiteradas ocasiones se estarán agregando nuevas filas en lugar de eliminarlas
  print(ejercicio2.read())

sobre escribir
This is line C
This is line C
This is line C
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E

In [ ]:
#Introduction to Pandas

In [40]:
import pandas as pd #importar panda como pd

In [43]:
df = pd.read_csv("/content/IBM1 - Hoja 1.csv") #leer archivo csv
df.head() #mostrar las primeras 5 filas del contenido

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,"0,02938657407","pop, rock, R&B",46.0,65,30285,NaN,10.0
1,AC/DC,Back in Black,1980,"0,02929398148",hard rock,44587.0,50,29427,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,"0,0297337963",progressive rock,44616.0,45,26724,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,"0,04009259259","R&B, soul, pop",44678.0,44,33925,Y,"8,5"
4,Meat Loaf,Bat Out of Hell,1977,"0,03232638889","hard rock, progressive rock",44732.0,43,28419,NaN,8

In [45]:
df2 = pd.read_excel("/content/IBM2.xlsx") #leer el archivo de excel
df2.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982.0,0.029387,"pop, rock, R&B",46.0,65.0,30285.0,NaN,10.0
1,AC/DC,Back in Black,1980.0,0.029294,hard rock,44587.0,50.0,29427.0,NaN,2022-05-09 00:00:00
2,Pink Floyd,The Dark Side of the Moon,1973.0,0.029734,progressive rock,44616.0,45.0,26724.0,NaN,9.0
3,Whitney Houston,The Bodyguard,1992.0,0.040093,"R&B, soul, pop",44678.0,44.0,33925.0,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977.0,0.032326,"hard rock, progressive rock",44732.0,43.0,28419.0,NaN,8.0

In [49]:
Length = df[["Length"]] #acceder a una columna especifica de la tabla
Length

          Length
0  0,02938657407
1  0,02929398148
2   0,0297337963
3  0,04009259259
4  0,03232638889

In [53]:
serie = df["Length"] #si solo se coloca un par de corchete se toma la información como una serie
serie

0    0,02938657407
1    0,02929398148
2     0,0297337963
3    0,04009259259
4    0,03232638889
Name: Length, dtype: object

In [54]:
x = df[["Artist"]] #con el doble corchete cuadrado se guarda como un data frame
type (x)

pandas.core.frame.DataFrame

In [59]:
triplecolumna =df[["Artist","Genre","Album"]] #Pueden seleccionar multiples columna para crear un nuevo dataframe
triplecolumna

            Artist                        Genre                      Album
0  Michael Jackson               pop, rock, R&B                   Thriller
1            AC/DC                    hard rock              Back in Black
2       Pink Floyd             progressive rock  The Dark Side of the Moon
3  Whitney Houston               R&B, soul, pop              The Bodyguard
4        Meat Loaf  hard rock, progressive rock            Bat Out of Hell

In [60]:
type(triplecolumna)

pandas.core.frame.DataFrame

In [61]:
df.iloc [0,0] #con iloc puedes acceder a valores especificos de acuerdo a su ubicación

'Michael Jackson'

In [62]:
df.iloc [1,0]

'AC/DC'

In [63]:
df.iloc [1,1]

'Back in Black'

In [64]:
df.loc[1,"Artist"] #con loc puedes acceder a una valor especifica de cierta columna determinado por su titulo

'AC/DC'

In [66]:
df.loc[1,"Released"]

1980

In [67]:
df.iloc[0:2, 0:3] #utilizando ":" se puede consultar un rango de celdas

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980